#Ucc_txt{
font-family: Arial;
font-size: 16px;
}

#Ube_txt{
font-family: Arial;
font-size: 16px;
}

#beta_txt{
font-family: Arial;
font-size: 16px;
}

#Ic_txt{
font-family: Arial;
font-size: 16px;
}